h1 {
    color: blue;
}

#paragraph1 {
    color: red;
    background-color: lightgray;
}

.paragraph-fonts {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
}

.paragraph-paddings {
    padding: 20px;
    margin: 15px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}